GS_Water_System_Nodered_json.txt
[{"id":"1f5ef497.4ca67b","type":"tab","label":"WaterLevel","disabled":false,"info":""},{"id":"d654b747.949ee8","type":"mqtt in","z":"1f5ef497.4ca67b","name":"gauge","topic":"ultra/readings","qos":"2","datatype":"auto","broker":"8f0ec0a.7ec654","x":90,"y":120,"wires":[["d37aa60a.f7eb28","ba40acf1.cd50a"]]},{"id":"d37aa60a.f7eb28","type":"ui_gauge","z":"1f5ef497.4ca67b","name":"Readings!","group":"4a3d67.7ca31298","order":0,"width":0,"height":0,"gtype":"gage","title":"Water Level ","label":"Litre(s)","format":"{{value}}","min":"0","max":"100","colors":["#ff0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":380,"y":120,"wires":[]},{"id":"20bdef84.81dfc","type":"sqlite","z":"1f5ef497.4ca67b","mydb":"3d8b62fc.ad55ce","sqlquery":"msg.topic","sql":"","name":"DB","x":410,"y":280,"wires":[[]]},{"id":"ba40acf1.cd50a","type":"function","z":"1f5ef497.4ca67b","name":"","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic = \"insert into Volume_Of_Water(volume, Timer) values (\"+msg.payload+\", time('now','localtime') )\";\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["20bdef84.81dfc"]]},{"id":"8f0ec0a.7ec654","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.145","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4a3d67.7ca31298","type":"ui_group","z":"","name":"Pump","tab":"d0fe0515.0d5888","order":2,"disp":true,"width":"6","collapse":false},{"id":"3d8b62fc.ad55ce","type":"sqlitedb","z":"","db":"C:\\Users\\TIYAMIKE\\.node-red\\db\\Volume_sqlite.db"},{"id":"d0fe0515.0d5888","type":"ui_tab","z":"","name":"Home PMI","icon":"home","order":1,"disabled":false,"hidden":false}]