Water-flow-rate-system.txt
[{"id":"fdbd717.93be49","type":"tab","label":"Irrigation","disabled":false,"info":""},{"id":"c5024100.a86ba","type":"ui_switch","z":"fdbd717.93be49","name":"","label":"Switch","tooltip":"","group":"cf5bd37b.3db2b","order":1,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":370,"y":120,"wires":[["cee8edb6.5a5de"]]},{"id":"cee8edb6.5a5de","type":"mqtt out","z":"fdbd717.93be49","name":"","topic":"/home/irrigation","qos":"0","retain":"","broker":"f8ce6282.c60f1","x":720,"y":120,"wires":[]},{"id":"b19afd75.2f0d","type":"mqtt in","z":"fdbd717.93be49","name":"","topic":"/home/irrigation","qos":"2","datatype":"auto","broker":"f8ce6282.c60f1","x":140,"y":240,"wires":[["fdb7c5bb.f1c038"]]},{"id":"4024d27f.6dd57c","type":"function","z":"fdbd717.93be49","name":"add time to payload","func":"\nvar ts_hms = new Date().toLocaleString('es-ES');\nmsg.payload = msg.payload + \" at \" + ts_hms;\nreturn [msg];","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["fbc55fc.f4481a"]]},{"id":"fbc55fc.f4481a","type":"ui_text","z":"fdbd717.93be49","group":"cf5bd37b.3db2b","order":2,"width":"5","height":"2","name":"Irrigation","label":"","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":240,"wires":[]},{"id":"1c3546a8.3f9889","type":"inject","z":"fdbd717.93be49","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"15 05 * * *","once":false,"onceDelay":0.1,"x":111,"y":93,"wires":[["c5024100.a86ba"]]},{"id":"47fab0a9.9f59b","type":"inject","z":"fdbd717.93be49","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":109.5,"y":54,"wires":[["c5024100.a86ba"]]},{"id":"f555bf5d.3f738","type":"inject","z":"fdbd717.93be49","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"15 17 * * *","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["c5024100.a86ba"]]},{"id":"a70c882b.a0b0d8","type":"inject","z":"fdbd717.93be49","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":108.5,"y":141,"wires":[["c5024100.a86ba"]]},{"id":"86e7a9a9.f68808","type":"mqtt in","z":"fdbd717.93be49","name":"","topic":"/home/irrigation_sensor/water","qos":"2","datatype":"auto","broker":"f8ce6282.c60f1","x":180,"y":300,"wires":[["6417788c.947c38","beebea24.b0d0c8"]]},{"id":"6417788c.947c38","type":"ui_chart","z":"fdbd717.93be49","name":"","group":"cf5bd37b.3db2b","order":4,"width":"6","height":"4","label":"Water flow (liters/min)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#0000ff","#8080ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":300,"wires":[[]]},{"id":"3277e1a1.dc0bde","type":"ui_gauge","z":"fdbd717.93be49","name":"Water daily irrigation consumption","group":"cf5bd37b.3db2b","order":3,"width":"2","height":"2","gtype":"wave","title":"Daily","label":"L","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":360,"wires":[]},{"id":"9eab8391.f7b78","type":"ui_slider","z":"fdbd717.93be49","name":"","label":"Water consumption alarm","tooltip":"","group":"cf5bd37b.3db2b","order":6,"width":"9","height":"1","passthru":true,"outs":"end","topic":"irrigation-wateralarm","min":0,"max":10,"step":1,"x":170,"y":420,"wires":[["dc466b9a.bb1d18"]]},{"id":"beebea24.b0d0c8","type":"function","z":"fdbd717.93be49","name":"daily water meter","func":"var d = new Date();\nvar dp = flow.get(\"last-day-irrigation\");\nvar c = 0.00;\n \nif (d.getDate() != dp) {\n    flow.set('daily-water-irrigation',msg.payload);\n    flow.set('last-day-irrigation',d.getDate());    \n} else {\n    c =  parseFloat(flow.get(\"daily-water-irrigation\")) + parseFloat(msg.payload);\n    flow.set('daily-water-irrigation',c);\n}\nmsg.payload = c;\nreturn [msg];","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["3277e1a1.dc0bde"]]},{"id":"fdb7c5bb.f1c038","type":"switch","z":"fdbd717.93be49","name":"if on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":240,"wires":[["4024d27f.6dd57c"]]},{"id":"ecba175f.df7888","type":"switch","z":"fdbd717.93be49","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"daily-water-alarm","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":420,"wires":[["cd078830.564f18","b781d0f2.a9695"]]},{"id":"dc466b9a.bb1d18","type":"function","z":"fdbd717.93be49","name":"daily water alarm","func":"flow.set('daily-water-alarm',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["c6bcc206.0f57f"]]},{"id":"9502274.4f3dcd8","type":"e-mail","z":"fdbd717.93be49","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"baulenitiyamike@gmail.com","dname":"Water consumption alarm","x":870,"y":420,"wires":[]},{"id":"cd078830.564f18","type":"ui_toast","z":"fdbd717.93be49","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Water irrigation consumption alarm","x":940,"y":480,"wires":[]},{"id":"c6bcc206.0f57f","type":"ui_text","z":"fdbd717.93be49","group":"cf5bd37b.3db2b","order":5,"width":"2","height":"2","name":"Daily water alarm limit","label":"Alarm","format":"{{msg.payload}} L","layout":"col-center","x":600,"y":500,"wires":[]},{"id":"7ffb80e9.01a2e","type":"inject","z":"fdbd717.93be49","name":"","topic":"","payload":"1.23","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["beebea24.b0d0c8"]]},{"id":"c2e7f6b.c693f08","type":"inject","z":"fdbd717.93be49","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["c29fbd62.d2565"]]},{"id":"c29fbd62.d2565","type":"function","z":"fdbd717.93be49","name":"daily water meter","func":"flow.set('daily-water-irrigation',msg.payload);","outputs":1,"noerr":0,"x":350,"y":600,"wires":[[]]},{"id":"b781d0f2.a9695","type":"function","z":"fdbd717.93be49","name":"add time to payload","func":"\nvar ts_hms = new Date().toLocaleString('es-ES');\nmsg.payload = msg.payload + \" liters consumed. Over the limit of \" + flow.get(\"daily-water-alarm\") + \" at \" + ts_hms;\nreturn [msg];","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["9502274.4f3dcd8"]]},{"id":"cf5bd37b.3db2b","type":"ui_group","z":"","name":"Swimming Pool","tab":"d0fe0515.0d5888","order":7,"disp":true,"width":"9","collapse":true},{"id":"f8ce6282.c60f1","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.63","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d0fe0515.0d5888","type":"ui_tab","z":"","name":"Home PMI","icon":"home","order":1,"disabled":false,"hidden":false}]